:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}


/* Ocultar la barra de desplazamiento en Chrome, Edge y Safari */
::-webkit-scrollbar {
  width: 0px; 
  height: 0px;
}


html {
  scrollbar-width: none;
}


body {
  overflow-y: auto;
  overflow-x: hidden;
  background: black;
}

/* Evita la selección de texto */
h1, p{
user-select: none; 
-webkit-user-select: none; 
-moz-user-select: none; 
-ms-user-select: none; 

}


.fixed-image {
  position: fixed;
  bottom: 0; 
  left: 50%;
  transform: translateX(-50%);
  width: 600px; 
  height: auto;
  width: 600px;
  transition: transform 0.3s ease-out;
  z-index: 1000;
}


 .Nombre-Lucy {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10; 
  width: 100%;
  display: flex;
  justify-content: space-between;


}

.Nombre-Lucy h1 {
  font-family: "Crushed", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
  position: relative;
  left: 30px;
}

.Nombre-Lucy button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 50px;
  width: 150px;
  border-radius: 50px;
  background-color: transparent; 
  border: 1px solid white;
  cursor: pointer;
  transition: all 0.3s ease-in-out; 
  position: relative;
  top: 31px;
  right: 20px;
  font-size: 20px; 
  

} 



